<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:properties/sms.properties" file-encoding="UTF-8"/>

    <context:component-scan base-package="com.offcn"/>

    <!-- 声明基于activemq的自身带的连接工厂-->
    <bean id="activemqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${activemq.broker-url}"/>
    </bean>
    <!-- spring提供mq连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activemqConnectionFactory"/>
    </bean>

    <!-- jmsTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="smsDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="youlexuan_queue_sms"/>
    </bean>

    <!-- 消息监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <!-- 连接工厂-->
        <property name="connectionFactory" ref="connectionFactory"/>
        <!-- 设置要监听的目标队列-->
        <property name="destination" ref="smsDestination"/>
        <!-- 设置监听处理类-->
        <property name="messageListener" ref="smsListener"/>
    </bean>

</beans>